<div class="post-row row phone-py-4">
  <div class="post-number">
    <p class="fs-13 phone-fs-15 gray inline-block">{{add @index 1}}.</p>
  </div>
  <div class="post-body">
    <p class="post-heading phone-fs-15">
      <a class="cursor post-heading-title black blue-hover" data-id="{{id}}">
        {{post.title}}
      </a>
      <a href="{{post.url}}" target="_blank" class="post-upvote gray blue-hover" data-id="{{id}}">
        (link: {{post.site}})
      </a>
      {{#if isAdmin}}
        {{>topic/admin-controls/template}}
      {{/if}}
    </p>
    <p class="fs-10 phone-fs-12 gray post-subheading">
      <span class="post-vote-count">{{votes}} clicks</span> | {{momentFromNow post.published}} |
      <span><a class="gray blue-hover cursor post-more-preview" data-id="{{id}}">preview</a></span> |
      {{#if isFave}}
        <span>
          <a class="gray blue-hover" href="/unfave/{{id}}">un-favorite</a>
        </span>
      {{else}}
        <span>
          <a class="gray blue-hover" href="/fave/{{id}}">favorite</a>
        </span>
      {{/if}}
      {{#if documentSentiment.score}} | Google AI sentiment
      <span style="color: {{sentimentColor documentSentiment.score}}">{{round documentSentiment.score 2}}</span>
      {{/if}} | tags:
      {{#each topic}}
        <em><a class="gray blue-hover" href="/topics/{{this}}">{{this}}</a></em> 
      {{/each}}
      |
      <span>
        <a href="/threads/{{id}}">
          {{#if comments}} {{comments.length }} comments {{else}} discuss {{/if}}
        </a>
      </span>      
    </p>
    <p class="fs-12 phone-fs-14 black py-5 post-text hide">
      {{post.text}}
    </p>
  </div>
</div>

