<div class="post-row row phone-py-4 py-20 px-10">
  <div class="post-body">
    <h2 class="post-heading fs-20 phone-fs-15">
        {{post.title}}
      <a href="{{post.url}}" target="_blank" class="post-upvote gray blue-hover" data-id="{{id}}">
        ({{post.site}})
      </a>
    </h2>
    <p class="fs-9 phone-fs-12 gray post-subheading">
      <span class="post-vote-count">{{votes}} points</span> | {{momentFromNow post.published}} {{#if documentSentiment.score}} | Google AI sentiment
      <span style="color: {{sentimentColor documentSentiment.score}}">{{round documentSentiment.score 2}}</span>
      {{/if}} | tags: {{#each topic}}
      <em>
        <a class="gray blue-hover" href="/topics/{{this}}">{{this}}</a>
      </em>
      {{/each}}
    </p>
    <p class="fs-12 phone-fs-14 black py-5 post-text">
      {{{post.text}}}
    </p>
  </div>
</div>