{{#each comments as |comment|}}
  <div class="comment-single pb-10">
    <p class="fs-11 gray">
      {{#if comment.user.username}} {{comment.user.username}} {{else}} {{comment.user.email}} {{/if}} {{momentFromNow comment.createdAt}}
    </p>
    <p class="fs-13">
      {{{parseHtml comment.text}}}
    </p>
  {{#if ../isAdmin}}
    {{> comment-delete/template comment=comment id=../id}}
  {{/if}}

  {{#if comment.children}}
    {{!-- TODO add nested children replies --}}
  {{/if}}
  </div>
{{/each}}